
<h3 class="c-fizz-buzz__heading">Fizz Buzz</h3>

<form class="c-fizz-buzz__form" novalidate="" ng-submit="$ctrl.onSubmit()">
  <input type="tel" ng-model="$ctrl.numIterations" name="numIterations" placeholder="Enter number of iterations" ng-class="{'is-error': $ctrl.states.error}" autofocus autocomplete="off" autocorrect="off" />
  <button type="submit">Run Test</button>
</form>

<ul class="c-fizz-buzz__results">
  <li>FIZZ: <span class="value">{{ $ctrl.results.fizz || '--' }}</span></li><!--
  --><li>BUZZ: <span class="value">{{ $ctrl.results.buzz  || '--'}}</span></li><!--
  --><li>FIZZBUZZ: <span class="value">{{ $ctrl.results.fizzBuzz || '--' }}</span></li>
</ul>
