@import '../../styles/base/variables';
@import '../../styles/base/mixins';

@keyframes loadingAnimation {
  0% {
      width: 63px;
  }
  50% {
      width: 63px;
  }
  100% {
      width: 100%;
  }
}

fizz-buzz {
  background-color: #002533;
  border: 1px solid #097692;
  display: block;
  font-family: 'Fira Mono', monospace;
  margin: 10px auto;
  max-width: 630px;
  padding: 4px 5px 6px;
  transition: height 2s;

  animation-name: loadingAnimation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2.8s;

  .c-fizz-buzz__heading {
    color: #DADFE1;
    font-family: 'Monoton', cursive;
    font-weight: normal;
    font-size: 42px;
    margin: 0 0 7px;
    text-align: center;
  }

  .c-fizz-buzz__form {
    @include clearfix();
    padding: 0 7px;

    input {
      background-color: #DADFE1;
      border: 1px solid #097692;
      border-radius: 0;
      color: #097692;
      display: inline-block;
      float: left;
      line-height: 24px;
      height: 26px;
      padding-left: 8px;
      width: calc(100% - 111px);

      &.is-error {
        border-color: $color-danger;
      }
    }

    button {
      background-color: #004F6E;
      border: 1px solid #097692;
      color: #DADFE1;
      float: right;
      font-size: 15px;
      height: 26px;
      padding: 0;
      line-height: 26px;
      text-align: center;
      vertical-align: middle;
      width: 94px;
    }
  }

  .c-fizz-buzz__results {
    @include resetList();
    border-top: 1px solid #097692;
    border-bottom: 1px solid #097692;
    margin: 12px 0 5px;
    padding: 10px 2px;

    li {
      color: #DADFE1;
      display: inline-block;
      width: calc(100% / 3);
      text-align: left;
      font-size: 12px;
    }

    .value {
      display: block;
      border: 2px solid #097692;
      border-radius: 100px;
      font-size: 19px;
      line-height: 75px;
      margin: 11px auto;
      height: 80px;
      width: 80px;
      position: relative;
      transform: translateX(-6px);
      text-align: center;

      &:before {
        content: '';
        display: block;
        border: 2px dotted #097692;
        border-radius: 100px;
        width: 64px;
        height: 64px;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 0;
        transform: translate(-50%, -50%);
      }

      &:after {
        content: '';
        display: block;
        border: 2px dotted #097692;
        border-radius: 100px;
        width: 97px;
        height: 97px;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 0;
        transform: translate(-50%, -50%);
      }
    }
  }

  @media (min-width: 769px) {
    margin-top: 39px;
  }
}
