
// Body reset
html {
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-overflow-style: scrollbar;
}

html, button, input, select, textarea {
  font-family: $font-family;

  &:focus {
    outline: 0;
  }
}

html, body {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #001821;
  color: $color-body;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
  -webkit-appearance: none;
}

.nowrap {
  white-space: nowrap;
}


// Links
a {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}


// Headers
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


// Paragraph
p {
  margin: 0;
}


// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.
figure {
  margin: 0;
}


// Images
img {
  vertical-align: middle;
}


// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}



// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate
.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}


// IE10 in Windows (Phone) 8
//
// Support for responsive views via media queries is kind of borked in IE10, for
// Surface/desktop in split view and for Windows Phone 8. This particular fix
// must be accompanied by a snippet of JavaScript to sniff the user agent and
// apply some conditional CSS to *only* the Surface/desktop Windows 8. Look at
// our Getting Started page for more information on this bug.
//
// For more information, see the following:
//
// Issue: https://github.com/twbs/bootstrap/issues/10497
// Docs: http://getbootstrap.com/getting-started/#support-ie10-width
// Source: http://timkadlec.com/2013/01/windows-phone-8-and-device-width/
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@-ms-viewport {
  width: device-width;
}
